<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xingxiaogang.animationdemo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecylerActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".CurtainActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".FocusActivity" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".DrawTestActivity" />
        <activity android:name=".ActionMenuActivity" />
        <activity android:name=".SwitchActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".SnowActivity" />
        <activity
            android:name=".GameActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name=".VoiceGuideActivity" />
        <activity android:name=".MusicWaveActivity" />
        <activity android:name=".FlowLayoutActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>